
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.footer {
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    font-size: 10px;
    text-align: center;


}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%; /* Set the width of the modal
    max-width: 400px; /* Set a maximum width for the modal
    background: white;
    padding: 20px;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root{
    height: 100vh;
}

/* sizing of map container
.leaflet-container{
height: 100vh;

}

.content-container {
    padding-left: 270px; /* adjust as needed
}

*/
main {
    min-height: 55vh;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 80vh;
}

.home-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.home-container p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;

}

.home-container button {
    background-color: #246d7d;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.home-container button__hover {
    background-color: #114956;
}

.home-container img {
    margin-top: 1rem;
    max-width: 100%;
}